<IfModule mod_negotiation.c>
    Options -MultiViews
  </IfModule>
  
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /dokumen-new/dist
    RewriteRule ^dokumen-new/dist/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /dokumen-new/dist/index.html [L]
    </IfModule>